
<h3>Olá, <%= @resource.name %>!</h3>

<p>Alguém solicitou um link para troca de senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Trocar minha senha', "#{message['redirect-url']}?reset_password_token=#{@token}" %></p>

<p>Se você não fez essa solicitação, por favor ignore esse e-mail.</p>

<p>Sua senha <strong>não será trocada</strong> até vocẽ acessar o link acima e criar uma nova.</p>
