<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag "email" %>
  </head>
  <body>
    <table>
      <th class="columns first last small-12 large-12">
        <table>
          <tr>
            <th><%= yield %></th>
            <th class="expander"></th>
          </tr>
        </table>
      </th>
    </table>
  </body>
</html>

